<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<link rel="stylesheet" href="../static/Homepage/video/bootstrap.min.css">
<link rel="stylesheet" href="../static/Homepage/video/dashboard.css">
<link rel="stylesheet" href="../static/Homepage/video/style.css">
<link rel="stylesheet" href="/static/Homepage/css/style.css">
<link rel="stylesheet" href="/static/Homepage/css/example.css">
<!-- 联系我们css js jq -->
<link rel="stylesheet" href="/static/cebianlan/css/style.css">
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/Homepage/video/bootstrap.min.css">
<link rel="stylesheet" href="/static/Homepage/video/dashboard.css">
<link rel="stylesheet" href="/static/Homepage/video/style.css">
<script src="/static/Homepage/js/jquery.min.js"></script>
<script src="/static/Homepage/js/sHover.min.js"></script>
<script src="/static/Homepage/js/jquery.min.js"></script>
<script src="/static/cebianlan/js/index.js"></script>
<script src="/static/cebianlan/js/jq22.js"></script>
<script src="/static/cebianlan/js/jquery-1.10.2.min.js"></script>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>视频展示</title>
</head>

<script language="javascript">
    $(document).ready(
        function () {
            $("#menu1 li a").wrapInner('<span class="out"></span>').append(
                '<span class="bg"></span>');

            // loop each anchor and add copy of text content
            $("#menu1 li a").each(
                function () {
                    $(
                        '<span class="over">' + $(this).text()
                        + '</span>').appendTo(this);
                });

            $("#menu1 li a").hover(function () {
                // this function is fired when the mouse is moved over
                $(".out", this).stop().animate({
                    'top': '40px'
                }, 250); // move down - hide
                $(".over", this).stop().animate({
                    'top': '0px'
                }, 250); // move down - show
                $(".bg", this).stop().animate({
                    'top': '0px'
                }, 120); // move down - show

            }, function () {
                // this function is fired when the mouse is moved off
                $(".out", this).stop().animate({
                    'top': '0px'
                }, 250); // move up - show
                $(".over", this).stop().animate({
                    'top': '-40px'
                }, 250); // move up - hide
                $(".bg", this).stop().animate({
                    'top': '-40px'
                }, 120); // move up - hide
            });

            /*	2nd example	*/
            $("#menu2 li a").wrapInner('<span class="out"></span>');

            $("#menu2 li a").each(
                function () {
                    $(
                        '<span class="over">' + $(this).text()
                        + '</span>').appendTo(this);
                });

            $("#menu2 li a").hover(function () {
                $(".out", this).stop().animate({
                    'top': '40px'
                }, 300); // move down - hide
                $(".over", this).stop().animate({
                    'top': '0px'
                }, 300); // move down - show

            }, function () {
                $(".out", this).stop().animate({
                    'top': '0px'
                }, 300); // move up - show
                $(".over", this).stop().animate({
                    'top': '-40px'
                }, 300); // move up - hide
            });

        });
</script>

<body>

<div class="diyoumask" style="height: 2000px;"></div>

<script type="text/javascript">
    $(function () {
        $(".contactusdiyou").hover(function () {
            $(".hoverimg").attr("src", "images/hoverbtnbg1.gif");
            $('.diyoumask').fadeIn();
            $('.contactusdiyou').animate({right: '0'}, 300);
        }, function () {
            $(".hoverimg").attr("src", "images/hoverbtnbg.gif");
            $('.contactusdiyou').animate({right: '-230px'}, 300, function () {
            });
            $('.diyoumask').fadeOut();
        });
    });
</script>


<!-- 上方是导航栏 -->
<div style="background-color: #6C89B2; margin-top: 0px">
    <div style="margin-left: 90%;">
        <header id="header">
            <div id="page_top">
                <div class="bg-wrap">
                    <div class="bg"></div>
                    <div class="mask"></div>
                </div>
                <div class="header-top">
                    <div class="page-width clearfix">
                        <div class="header-top__nav">
                            <ul>
                                <li class="item item-home"><a href="/tv-bank/index">主站</a></li>
                                <li class="item"><a href="/tv-bank/videoFileTop">我要投稿</a>
                            </ul>
                        </div>


                        <div id="header-top__user">
                            <ul>
                                <li id="login-success" class="login-a" style="display: none;"><a class="login-a" id="welcome"
                                                                                                 href="#">你好，欢迎你！</a></li>
                                <li id="nologin" class="nologin-a" style="display:inline;"><a class="nologin-a"
                                                                                              href="/tv-bank/login">游客，你好，请先登录</a>
                                </li>
                                <li id="nologin-item" class="nologin-a" style="display: inline;"><a class="nologin-a"
                                                                                                    href="/tv-bank/zhuce">注册</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>

<div>
    <img src="../static/Homepage/images/bilibili.png" style="width: 100%;"/>
</div>

<style type="text/css">
    body {
        font: normal 100% 'Arial', 'Helvetica', 'Verdana', sans-serif;
        color: #CECECE;
    }

    p {
        padding: 12px 0;
        margin: 0;
        font-size: .8em;
        line-height: 1.5;
    }

    form {
        margin: 0;
    }

    #search_box #s {
        float: left;
        padding: 0;
        margin: 6px 0 0 6px;
        border: 0;
        width: 159px;
        background: none;
        font-size: .8em;
    }

    #search_box #go {
        float: right;
        margin: 3px 4px 0 0;
    }
</style>

<div id="menu1" class="menu">
    <ul>
        <li><a href="/page/index">首 页</a></li>
        <li><a href="testshabi.sf">动 画</a></li>
        <li><a href="testshabi.sf">番 剧</a></li>
        <li><a href="testshabi.sf">国 创</a></li>
        <li><a href="testshabi.sf">音 乐</a></li>
        <li><a href="xiaoheiwu.sf">小 黑 屋</a></li>
    </ul>
    <div class="cls"></div>
</div>
<div id="test"></div>
<div align="center" style="color: red">
    <b>共计:条记录</b> <b id="page"></b>
</div>
<div align="center" style="color: black">
    <button type="button" id="shou">首页</button>
    &nbsp;
    <button type="button" id="up">上一页</button>
    &nbsp;
    <button type="button" id="next">下一页</button>
    &nbsp;
    <button type="button" id="wei">尾页</button>
    &nbsp;<input type="text" id="text"
                 onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)"
                 onblur="this.v();" style="width: 80px; height: 22px"> &nbsp;
    <button type="button" id="tiaozhuan">跳转</button>
</div>

<script src="/static/adminjs/liebiao.js"></script>


<div class="clearfix"></div>

<!--判断用户是否登陆脚本-->
<script type="text/javascript">
    /*获取登陆成功之后的状态码和返回数据*/
    var userName = sessionStorage.getItem('userName');
    if (userName != null) {
        //显示
        document.getElementById("login-success").style.display = "inline";
        document.getElementById("nologin").style.display = "none";
        document.getElementById('welcome').innerText = userName + '，你好，欢迎你';
    } else {
        //隐藏
        document.getElementById("login-success").style.display = "none";
        document.getElementById("nologin").style.display = "inline";
    }
</script>
</body>
</html>