<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<link rel="stylesheet"
      href="../static/Homepage/video/bootstrap.min.css">
<link rel="stylesheet"
      href="../static/Homepage/video/dashboard.css">
<link rel="stylesheet"
      href="../static/Homepage/video/style.css">

<script src="/static/Homepage/js/jquery.min.js"></script>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>视频展示</title>
</head>

<link rel="stylesheet" href="/static/Homepage/css/style.css">
<link rel="stylesheet"
      href="/static/Homepage/css/example.css">
<script src="/static/Homepage/js/sHover.min.js"></script>
<script src="/static/Homepage/js/jquery.min.js"></script>

<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
      href="/static/Homepage/video/bootstrap.min.css">
<link rel="stylesheet"
      href="/static/Homepage/video/dashboard.css">
<link rel="stylesheet"
      href="/static/Homepage/video/style.css">

<!-- 联系我们css js jq -->
<link rel="stylesheet" href="/static/cebianlan/css/style.css">
<script src="/static/cebianlan/js/index.js"></script>
<script src="/static/cebianlan/js/jq22.js"></script>
<script src="/static/cebianlan/js/jquery-1.10.2.min.js"></script>
</head>

<script language="javascript">
    $(document).ready(
        function () {

            /* 	1st example	*/
            /// wrap inner content of each anchor with first layer and append background layer
            $("#menu1 li a").wrapInner('<span class="out"></span>').append(
                '<span class="bg"></span>');

            // loop each anchor and add copy of text content
            $("#menu1 li a").each(
                function () {
                    $(
                        '<span class="over">' + $(this).text()
                        + '</span>').appendTo(this);
                });

            $("#menu1 li a").hover(function () {
                // this function is fired when the mouse is moved over
                $(".out", this).stop().animate({
                    'top': '40px'
                }, 250); // move down - hide
                $(".over", this).stop().animate({
                    'top': '0px'
                }, 250); // move down - show
                $(".bg", this).stop().animate({
                    'top': '0px'
                }, 120); // move down - show

            }, function () {
                // this function is fired when the mouse is moved off
                $(".out", this).stop().animate({
                    'top': '0px'
                }, 250); // move up - show
                $(".over", this).stop().animate({
                    'top': '-40px'
                }, 250); // move up - hide
                $(".bg", this).stop().animate({
                    'top': '-40px'
                }, 120); // move up - hide
            });

            /*	2nd example	*/

            $("#menu2 li a").wrapInner('<span class="out"></span>');

            $("#menu2 li a").each(
                function () {
                    $(
                        '<span class="over">' + $(this).text()
                        + '</span>').appendTo(this);
                });

            $("#menu2 li a").hover(function () {
                $(".out", this).stop().animate({
                    'top': '40px'
                }, 300); // move down - hide
                $(".over", this).stop().animate({
                    'top': '0px'
                }, 300); // move down - show

            }, function () {
                $(".out", this).stop().animate({
                    'top': '0px'
                }, 300); // move up - show
                $(".over", this).stop().animate({
                    'top': '-40px'
                }, 300); // move up - hide
            });

        });
</script>

<body>


<div class="diyoumask" style="height: 2000px;"></div>

<script type="text/javascript">
    $(function () {
        $(".contactusdiyou").hover(function () {
            $(".hoverimg").attr("src", "images/hoverbtnbg1.gif");
            $('.diyoumask').fadeIn();
            $('.contactusdiyou').animate({right: '0'}, 300);
        }, function () {
            $(".hoverimg").attr("src", "images/hoverbtnbg.gif");
            $('.contactusdiyou').animate({right: '-230px'}, 300, function () {
            });
            $('.diyoumask').fadeOut();
        });
    });
</script>


<!-- 上方是导航栏 -->
<div style="background-color: #6C89B2; margin-top: 0px">
    <div style="margin-left: 90%;">
        <button class="btn btn-primary ladda-button" data-style="expand-left"
                id="login">
				<span class="ladda-label"><a href="login.sf"
                                             style="font-size: 10px; color: white; text-decoration: none">登录</a></span>
        </button>

        <button class="btn btn-primary ladda-button" data-style="expand-left"
                id="zhuce">
				<span class="ladda-label"><a href="zhuce.sf"
                                             style="font-size: 10px; color: white; text-decoration: none">注册</a></span>
        </button>


        <button class="btn btn-primary ladda-button" data-style="expand-left"
                id="userxinxi">
				<span class="ladda-label"><a href="User_full_information.sf"
                                             style="font-size: 10px; color: white; text-decoration: none">
						欢迎你的登录: <span style="color: red"><%=request.getSession().getAttribute("userName")%></span>
				</a></span>
        </button>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#userxinxi").click(function () {
                location.href = "User_full_information.sf";

            });
            $("#login").click(function () {
                location.href = "login.sf";
            });
            $("#zhuce").click(function () {
                location.href = "zhuce.sf";
            });
        });
    </script>
</div>
<div>
    <img src="../static/Homepage/images/bilibili.png" style="width: 100%;"/>
</div>

<style type="text/css">
    body {
        font: normal 100% 'Arial', 'Helvetica', 'Verdana', sans-serif;
        color: #CECECE;
    }

    p {
        padding: 12px 0;
        margin: 0;
        font-size: .8em;
        line-height: 1.5;
    }

    form {
        margin: 0;
    }

    #search_box {
        width: 201px;
        height: 32px;
        background: url(http://files.jb51.net/demoimg/200912/bg_search_box.gif);
    }

    #search_box #s {
        float: left;
        padding: 0;
        margin: 6px 0 0 6px;
        border: 0;
        width: 159px;
        background: none;
        font-size: .8em;
    }

    #search_box #go {
        float: right;
        margin: 3px 4px 0 0;
    }
</style>

<div id="menu1" class="menu">
    <ul>
        <li><a href="logoone.sf">首 页</a></li>
        <li><a href="testshabi.sf">动 画</a></li>
        <li><a href="testshabi.sf">番 剧</a></li>
        <li><a href="testshabi.sf">国 创</a></li>
        <li><a href="testshabi.sf">音 乐</a></li>
        <li><a href="#">测 试</a></li>
        <li><a href="xiaoheiwu.sf">小 黑 屋</a></li>
    </ul>
    <div class="cls"></div>
</div>
<div id="test"></div>
<div align="center" style="color: red">
    <b>共计:条记录</b> <b id="page"></b>
</div>
<div align="center" style="color: black">
    <button type="button" id="shou">首页</button>
    &nbsp;
    <button type="button" id="up">上一页</button>
    &nbsp;
    <button type="button" id="next">下一页</button>
    &nbsp;
    <button type="button" id="wei">尾页</button>
    &nbsp;<input type="text" id="text"
                 onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)"
                 onblur="this.v();" style="width: 80px; height: 22px"></input> &nbsp;
    <button type="button" id="tiaozhuan">跳转</button>
</div>

<script src="/static/adminjs/liebiao.js"></script>
</div>
</div>
</div>
</div>

<div class="clearfix"></div>
</div>
</body>
</html>