<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<!--引入thymeleaf模板引擎-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>首页</title>
    <link rel="stylesheet"
          href="../static/bilibiliIndex/css/reset.css">
    <link rel="stylesheet"
          href="../static/bilibiliIndex/css/common.css">
    <link rel="stylesheet"
          href="../static/bilibiliIndex/css/index.css">
    <script src="../static/Homepage/js/jquery.min.js"></script>
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="../static/bilibiliIndex/js/script.js"></script>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body>

<header id="header">
    <div id="page_top">
        <div class="bg-wrap">
            <div class="bg"></div>
            <div class="mask"></div>
        </div>
        <div class="header-top">
            <div class="page-width clearfix">
                <div class="header-top__nav">
                    <ul>
                        <li class="item item-home"><a href="/tv-bank/index">主站</a></li>
                        <li class="item"><a href="/tv-bank/videoFileTop">我要投稿</a>
                    </ul>
                </div>

                <div class="search">
                    <!--搜索表单-->
                    <form class="layui-form" action="#" method="post" id="sitesearch">
                        <fieldset>
                            <input type="text" value="搜索一下" name="keyWords"
                                   onfocus="this.value=(this.value=='搜索一下')? '' : this.value ;"/>
                            <button class="layui-btn-radius" lay-submit lay-filter="search" id="search" alt="搜索一下">
                                搜
                            </button>
                        </fieldset>
                    </form>
                </div>

                <div id="header-top__user">
                    <ul>
                        <li id="login-success" class="login-a" style="display: none;"><a class="login-a" id="welcome"
                                                                                         href="#">你好，欢迎你！</a></li>
                        <li id="nologin" class="nologin-a" style="display:inline;"><a class="nologin-a"
                                                                                      href="/tv-bank/login">游客，你好，请先登录</a>
                        </li>
                        <li id="nologin-item" class="nologin-a" style="display: inline;"><a class="nologin-a"
                                                                                            href="/tv-bank/zhuce">注册</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<nav id="nav">
    <div class="page-width clearfix">
        <ul class="nav-list">
            <li class="item item-home"><a href="/tv-bank/index" class="link">首页</a>
            </li>
            <li class="item"><a href="/tv-bank/getByCategory?category=1" class="link">
                <div class="num">
                    <i>887</i>
                </div>
                动画
            </a></li>
            <li class="item"><a href="/tv-bank/getByCategory?category=2" class="link">
                <div class="num">
                    <i>23</i>
                </div>
                番剧
            </a></li>
            <li class="item"><a href="/tv-bank/getByCategory?category=3" class="link">
                <div class="num">
                    <i>999+</i>
                </div>
                音乐
            </a></li>
            <li class="item"><a href="/tv-bank/getByCategory?category=1" class="link">
                <div class="num">
                    <i>152</i>
                </div>
                舞蹈
            </a></li>
            <li class="item"><a href="/tv-bank/getByCategory?category=2" class="link">
                <div class="num">
                    <i>999+</i>
                </div>
                游戏
            </a></li>
            <li class="item"><a href="/tv-bank/getByCategory?category=3" class="link">
                <div class="num">
                    <i>999+</i>
                </div>
                科技
            </a></li>
            <li class="item"><a href="/tv-bank/getByCategory?category=1" class="link">
                <div class="num">
                    <i>999+</i>
                </div>
                生活
            </a></li>
            <li class="item"><a href="/tv-bank/getByCategory?category=3" class="link">
                <div class="num">
                    <i>77</i>
                </div>
                鬼畜
            </a></li>
            <li class="item"><a href="/tv-bank/getByCategory?category=3" class="link">
                <div class="num">
                    <i>416</i>
                </div>
                时尚
            </a></li>
            <li class="item"><a href="/tv-bank/getByCategory?category=1" class="link">
                <div class="num">
                    <i>100</i>
                </div>
                广告
            </a></li>
            <li class="item"><a href="/tv-bank/getByCategory?category=1" class="link">
                <div class="num">
                    <i>999+</i>
                </div>
                娱乐
            </a></li>
            <li class="item"><a href="/tv-bank/getByCategory?category=2" class="link">
                <div class="num">
                    <i>916</i>
                </div>
                影视
            </a></li>
        </ul>
        <div class="nav-gif" id="qiulingyang">
            <img src="/static/bilibiliIndex/images/cont/nav_img.gif" alt="求领养">
        </div>
    </div>
</nav>

<div id="banner">
    <div class="page-width clearfix">
        <div class="slider fl">
            <div class="slider-img">
                <a href="#" slider-title="pic1"><img
                        src="../static/bilibiliIndex/images/cont/slider_img1.png"
                        alt="#"></a> <a href="#" slider-title="pic2"><img
                    src="/static/bilibiliIndex/images/cont/slider_img2.png"
                    alt="#"></a> <a href="#" slider-title="pic3"><img
                    src="/static/bilibiliIndex/images/cont/slider_img3.png"
                    alt="#"></a> <a href="#" slider-title="pic4"><img
                    src="/static/bilibiliIndex/images/cont/slider_img4.png"
                    alt="#"></a>
            </div>
            <div class="slider-title">
                <p>pic1</p>
            </div>
            <div class="slider-btn">
                <span class="cur"></span> <span></span> <span></span> <span></span>
            </div>
            <a href="#" class="slider-more">More</a>
        </div>

        <div class="banner-list fr">
            <ul>
                <li th:each="v:${video}">
                    <a th:href="'video?dizhi='+${v.videoAddress}+'&shipingID='+${v.videoID} ">
                        <img th:src="${v.videoImage}" alt="#">
                        <div class="info">
                            <p class="title" th:text="${v.videoName}"></p>
                            <p class="author" th:text="'up主:'+${v.upName}"></p>h
                            <p class="play" th:text="'播放：'+${v.videolookTime}"></p>
                        </div>
                    </a>
                </li>
            </ul>
            <a href="#" class="btn btn-prev">昨日</a> <a href="#" class="btn btn-next">一周</a>
        </div>
    </div>
</div>

<div id="main">
    <div class="page-width">
        <!-- 舞蹈 -->
        <div class="mainCont clearfix" id="dance" js-move="true">
            <div class="pic-list fl" js-tab="true">
                <div class="pic-list__title">
                    <i class="icon icon-dance"></i>
                    <h2>动画</h2>
                    <div class="tab-title">
                        <a href="#" class="cur">有新动态</a>
                    </div>
                    <div class="more-wrap">
                        <a href="#" class="dynamic" id="shuaxin"><i></i>392条新动态</a>
                    </div>
                </div>
                <ul class="pic-list__wrapper clearfix tab-cont__item tab-cont__cur">
                    <li class="item" th:each="v:${list}">
                        <a th:href="'video?dizhi='+${v.videoAddress}+'&shipingID='+${v.videoID}" class="img-link">
                            <img th:src="${v.videoImage}" alt="#">
                            <span class="mask"></span> <span class="time" th:text="${v.videoTime}"></span>
                        </a>
                        <div class="img-info">
                            <a th:href="'video?dizhi='+${v.videoAddress}+'&shipingID='+${v.videoID}"></a>
                            <div class="btm">
                                <div class="user">
                                    <i></i>admin
                                </div>
                                <div class="online" th:text="${v.videolookTime}">
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>

            <!-- 游戏 -->
            <div class="mainCont clearfix" id="game" js-move="true">
                <div class="pic-list fl" js-tab="true">
                    <div class="pic-list__title">
                        <i class="icon icon-game"></i>
                        <h2>MAD</h2>
                        <div class="tab-title">
                            <a href="#" class="cur">有新动态</a>
                        </div>
                        <div class="more-wrap">
                            <a href="#" class="dynamic" id="shuaxin1"><i></i>392条新动态</a>
                        </div>
                    </div>

                    <ul class="pic-list__wrapper clearfix tab-cont__item tab-cont__cur">

                        <li class="item" th:each="list2:${list2}">
                            <a th:href="'video?dizhi='+${list2.videoAddress}+'&shipingID='+${list2.videoID}"
                               class="img-link">
                                <img th:src="${list2.videoImage}" alt="#">
                                <span class="mask"></span> <span class="time" th:text="${list2.videoTime}"></span>
                            </a>
                            <div class="img-info">
                                <a th:href="'video?dizhi='+${list2.videoAddress}+'&shipingID='+${list2.videoID}"
                                   th:text="${list2.videoName}"></a>
                                <div class="btm">
                                    <div class="user" th:text="${list2.upName}">
                                        <i></i>
                                    </div>
                                    <div class="online" th:text="${list2.videolookTime}">
                                        <i></i>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <!-- 科技 -->
            <div class="mainCont clearfix" id="technology" js-move="true">
                <div class="pic-list fl" js-tab="true">
                    <div class="pic-list__title">
                        <i class="icon icon-technology"></i>
                        <h2>动漫</h2>
                        <div class="tab-title">
                            <a href="#" class="cur">有新动态</a>
                        </div>
                        <div class="more-wrap">
                            <a href="#" class="dynamic" id="shuaxin2"><i></i>392条新动态</a>
                        </div>
                    </div>
                    <ul class="pic-list__wrapper clearfix tab-cont__item tab-cont__cur">

                        <li class="item" th:each="list3:${list3}">
                            <a th:href="'video?dizhi='+${list3.videoAddress}+'&shipingID='+${list3.videoID}"
                               class="img-link">
                                <img th:src="${list3.videoImage}" alt="#">
                                <span class="mask"></span> <span class="time" th:text="${list3.videoTime}"></span>
                            </a>
                            <div class="img-info">
                                <a th:href="'video?dizhi='+${list3.videoAddress}+'&shipingID='+${list3.videoID}"
                                   th:text="${list3.videoName}"></a>
                                <div class="btm">
                                    <div class="user" th:text="${list3.upName}">
                                        <i></i>
                                    </div>
                                    <div class="online" th:text="${list3.videolookTime}">
                                        <i></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--引入外部js框架-->
<script type="text/javascript" src="../static/layui/layui.js" charset="utf-8"></script>

<!--判断用户是否登陆脚本-->
<script type="text/javascript">
    /*获取登陆成功之后的状态码和返回数据*/
    var userInfo = JSON.parse(sessionStorage.getItem('userInfo'));
    var userName = userInfo.userName;
    if (userName != null) {
        //显示
        document.getElementById("login-success").style.display = "inline";
        document.getElementById("nologin").style.display = "none";
        document.getElementById('welcome').innerText = userName + '，你好，欢迎你';
    } else {
        //隐藏
        document.getElementById("login-success").style.display = "none";
        document.getElementById("nologin").style.display = "inline";
    }
</script>

<!--处理搜索-->
<script type="text/javascript">
    layui.use(['form', 'layer', 'jquery'], function () {
        // 操作对象
        var form = layui.form;

        //处理搜索,将搜索的关键字通过url传递给对应的页面
        form.on('submit(search)', function (data) {
            var keyWords = data.field.keyWords;
            var url = "/tv-bank/search?keyWord=" + keyWords;
            window.open(url);
        })
    });
</script>
</body>
</html>